{
  "NCDB_BASE_URL": "http://test-app-01.gts.bootiq-devel.eu:8080",
  "ER_USER_CREDENTIAL": "gts",
  "NCDB_USER_PC_CREDENTIAL": "cypressTest1",
  "OO2_BASE_URL": "http://test-app-01.gts.bootiq-devel.eu:8082"
}
