{
  "NCDB_BASE_URL": "https://ncdb.test.gts.bootiq-devel.eu/",
  "ER_USER_CREDENTIAL": "gts",
  "NCDB_USER_PC_CREDENTIAL": "cypressTest1",
  "OO2_BASE_URL": "https://ncdb.test.gts.bootiq-devel.eu/",
  "DM_BASE_URL": "https://ncdb.test.gts.bootiq-devel.eu/"
}
